# Read values from .env and set them here
PROJECT_DIR=${PROJECT_DIR}
DOCKER_PREFIX=${DOCKER_PREFIX}

# for the dockerised postgres instance 
POSTGRES_PASSWORD=myPassword    # mandatory superuser password
POSTGRES_USER=postgres

# pgadmin defaults. These are read by pgadmin from the environment
PGADMIN_DEFAULT_EMAIL=my@email.com
PGADMIN_DEFAULT_PASSWORD=my_admin_password
