{% load powercrud_partials %}
{% partialdef pcrud_content %}{% include "powercrud/packs/daisyui/object_list.html#pcrud_content" %}{% endpartialdef pcrud_content %}
{% partialdef bulk_selection_status %}{% include "powercrud/packs/daisyui/object_list.html#bulk_selection_status" %}{% endpartialdef bulk_selection_status %}
{% partialdef filtered_results %}{% include "powercrud/packs/daisyui/object_list.html#filtered_results" %}{% endpartialdef filtered_results %}
{% partialdef list_actions %}{% include "powercrud/packs/daisyui/object_list.html#list_actions" %}{% endpartialdef list_actions %}
{% partialdef filter_trigger %}{% include "powercrud/packs/daisyui/object_list.html#filter_trigger" %}{% endpartialdef filter_trigger %}
{% partialdef filter_panel_actions %}{% include "powercrud/packs/daisyui/object_list.html#filter_panel_actions" %}{% endpartialdef filter_panel_actions %}
{% partialdef filter_form %}{% include "powercrud/packs/daisyui/object_list.html#filter_form" %}{% endpartialdef filter_form %}
{% partialdef list_columns %}{% include "powercrud/packs/daisyui/object_list.html#list_columns" %}{% endpartialdef list_columns %}
{% partialdef pagination %}{% include "powercrud/packs/daisyui/object_list.html#pagination" %}{% endpartialdef pagination %}
{% partialdef page_size_selector %}{% include "powercrud/packs/daisyui/object_list.html#page_size_selector" %}{% endpartialdef page_size_selector %}
{% include "powercrud/packs/daisyui/object_list.html" %}
