{% load powercrud_partials %}
{% partialdef pcrud_content %}{% include "powercrud/packs/daisyui/object_form.html#pcrud_content" %}{% endpartialdef pcrud_content %}
{% partialdef conflict_detected %}{% include "powercrud/packs/daisyui/object_form.html#conflict_detected" %}{% endpartialdef conflict_detected %}
{% partialdef normal_content %}{% include "powercrud/packs/daisyui/object_form.html#normal_content" %}{% endpartialdef normal_content %}
{% include "powercrud/packs/daisyui/object_form.html" %}
