<div class="card-body">
    <p class="text-lg">Are you sure you want to delete the following {{ object_verbose_name }}?</p>
    <h2 class="card-title justify-center my-2 text-error">{{ object }}</h2>

    {% if delete_errors %}
        <div class="alert alert-error shadow-sm mb-4">
            <div class="w-full">
                {% for message in delete_errors %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <form method="POST" action="{{ delete_view_url }}"
          {% if use_htmx and original_target %}
              hx-post="{{ delete_view_url }}" hx-target="{{ original_target }}" hx-push-url="false"
              hx-headers='{"X-Redisplay-Object-List": "true"}'
          {% endif %}>
        {% csrf_token %}

        {% for key, values in request.GET.lists %}
            {% if key != "csrfmiddlewaretoken" and key != "page" %}
                {% for value in values %}
                    <input type="hidden" name="_powercrud_filter_{{ key }}" value="{{ value }}">
                {% endfor %}
            {% endif %}
        {% endfor %}

        {{ form }}
        {% if delete_actions_template_paths %}
            {% include delete_actions_template_paths %}
        {% else %}
            {% include "powercrud/packs/daisyui/partial/delete_actions.html" %}
        {% endif %}
    </form>
</div>
