{% with inline_enabled=inline_edit.enabled %}

<div class="box-border w-full max-w-full overflow-x-auto table-max-height"
    style="overflow-y: auto; padding-right: 20px;"
    {% if enable_selection_controls %}data-selection-key="{{ keyBase }}_{{ selection_key_suffix }}_selected"{% endif %}
    >
    <table class="table {{ table_classes }} w-auto min-w-max"
        {% if inline_enabled %}data-inline-enabled="true"{% endif %}>
        {% if table_header_template_paths %}
            {% include table_header_template_paths %}
        {% else %}
            {% include "powercrud/daisyUI/partial/table_header.html" %}
        {% endif %}
        <tbody>
            {% for row in object_list %}
                {% if table_row_template_paths %}
                    {% include table_row_template_paths %}
                {% else %}
                    {% include "powercrud/daisyUI/partial/table_row.html" %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% if enable_selection_controls %}
<!-- No selection restore JS here; handled globally in object_list.html -->
{% endif %}
{% endwith %}
