<!-- Bulk actions container - show/hide based on selection count -->
<div id="bulk-actions-container" class="join {% if selected_count == 0 %}hidden{% endif %}">
    <a href="{{ list_view_url }}bulk-edit/" class="join-item btn btn-primary {{ view.get_extra_button_classes }}"
        hx-get="{{ list_view_url }}bulk-edit/" hx-target="#nominopolitanModalContent"
        onclick="nominopolitanBaseModal.showModal();">
        Bulk Edit <span id="selected-items-counter">{{ selected_count }}</span>
    </a>
    <button class="join-item btn btn-outline btn-error {{ view.get_extra_button_classes }}"
            hx-post="{{ list_view_url }}clear-selection/"
            hx-target="#bulk-actions-container"
            hx-swap="outerHTML">
        Clear Selection
    </button>
</div>