{% extends './base.html' %}

{% block content %}
    {% partial content %}
{% endblock content %}

{% partialdef content %}
    <title id="header_title">{{header_title}}</title>
    <h1 class="title my-2">PowerCRUD Test Home Page</h1>
    <p>This header and text being served from index.html</p>
    <br>
    <p class="bg-primary text-primary-content">Primary</p>
    <p class="bg-secondary text-secondary-content">Secondary</p>
    <p class="bg-accent text-accent-content">Accent</p>

{% endpartialdef content %}