name: Pull Request Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  tests:
    if: ${{ !contains(github.event.head_commit.message, '[skip tests]') }}
    uses: ./.github/workflows/run_tests.yml
    secrets: inherit
